.erro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #049673;
}

.wrapper-erro {
  width: 750px;
  background: #fff;
  border: 2px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #049673;
  padding: 40px 35px 55px;
  margin: 0 10px;
}

.wrapper-erro h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.wrapper-erro h3 {
  text-align: center;
}
