body {
  display: inline-block;
  justify-content: flex-start;
  grid-column: 1/-1;
  width: 100%;
}

.containerA {
  height: 120px;
  width: 100%;
  margin-top: 0px;
}

main {
  width: 100%;
  padding: 20px;
}

.topbar {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #049673;
  backdrop-filter: blur(40px);
  color: #fff;
  padding: 6px 14px;
  transition: all 0.5s;
  z-index: 1;
}

.top-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.divBtnMenu,
.divBtnUser {
  width: 4rem;
  height: 100%;
}

.btnMenu,
.btnUser {
  width: 100%;
  height: 100%;
}

.btnUser {
  background: rgb(123, 123, 123);
  border-radius: 100%;
  border: 4px solid white;
  cursor: pointer;
}

.divBtnUser {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.ajusteBtnUser {
  display: flex;
  align-items: center;
}

.btnUser {
  width: 92%;
  height: 92%;
}

.ladoBtn {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.7s;
  overflow: hidden;

  border-radius: 0px 0px 20px 20px;
  height: max-content;
}

.dropdown-User {
  position: absolute;
  right: 0;
  /*background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform-origin: top right;  Configuração para que o dropdown cresça a partir do canto superior direito */

  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  width: 20rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  transition: all 0.7s;
  overflow: hidden;

  border-radius: 0px 0px 20px 20px;
  height: max-content;

  margin-top: 9px;
}

.dropdown-User.open {
  width: 20rem;
}

.dropdown-User.open .dropdown-item {
  opacity: 1;
}

.dropdown-User.open .dropdown-item .icon,
.dropdown-User.open .dropdown-item .textItem {
  opacity: 1;
  transform: translateX(0);
}

/* .btnGeralItem:last-child> .dropdown-item:first-child{
    background: rgba(253, 0, 0, 0.3);
    transition: all 0.3s;
}

.btnGeralItem:last-child> .dropdown-item:first-child:hover{
    background: rgba(253, 0, 0, 0.7);
} */

.testeUserContent {
  margin-top: 0;
  height: 100px;
  width: 100%;
  background: rgba(142, 142, 142, 0.545);

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: end;
}

.testeUserContent h2,
h4 {
  margin-left: 45px;
}

.dropdown-item {
  width: max-content;
  height: 50px;
  margin: 5px 0;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

  font-size: 18px;
  color: #fff;
  text-decoration: none;
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
}

.icon {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  user-select: none;
  transition: all 1s;
}

.textItem {
  cursor: default;
  transition: all 1s;
}

.btnGeralItem {
  display: flex;
  justify-content: center;
}

.btnGeralItem .link {
  width: 95%;
  display: flex;
  justify-content: flex-start;
}

/* .btnGeral:hover{
    background: rgba(255, 255, 255, .2);
    transition: all 0.5s;
    border-radius: 6px;
} */

/* Codificação joão */
ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

.conteiner-menu {
  display: flex;
  align-items: center;
  gap: 5rem;
}
