/*Tela Inicial de Ensino*/

.ensinoContainer {
  margin-top: 40px;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.titulo {
  margin-top: 40px;
  color: #fff;
}

.opcoesEnsino {
  margin: 50px;
  width: 700px;
}

.opcaoEnsino {
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: 2px solid;
  border-color: #fff;
  transition: all 0.5s;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

#ultimaOpcao {
  margin-bottom: 0px;
}

.opcaoEnsino:hover {
  color: black;
  background: #fff;
}

/*Disciplinas Ministradas*/

.disciplinasMinistradasConteiner {
  margin-top: 40px;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.anexarPdfs {
  width: 100%;
  display: grid;
  justify-content: center;
}

.anexarPdfs input {
  width: 500px;
  font-size: 16px;
  background: #fff;
  border-radius: 30px;
  outline: none;
}

::-webkit-file-upload-button {
  color: #fff;
  background: purple;
  padding: 6px 25px;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

::-webkit-file-upload-button:hover {
  background: #d640a9;
}

.inputsPdfs {
  display: flex;
  align-items: center;
}

.inputsPdfs p {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

#primeiroInput {
  margin-top: 20px;
}

#segundoInput {
  margin-top: 10px;
}

.semestre {
  width: 100%;
  margin-top: 40px;
}

.tituloSemestre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloSemestre p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.camposTabela {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.camposTabela input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: #fff;
  border-radius: 0.375rem;
  outline: none;
  text-align: center;
  margin-left: 30px;
}

.ultimoCampoInput {
  margin-left: 53px;
}

.icon {
  font-size: 23px;
  margin-left: 10px;
  color: black;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.buttons button {
  width: 130px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 16px;
  cursor: pointer;
}

/*Número de turmas e Ch por turmas*/

.areaTituloSemestresNCH {
  width: 100%;
}

.tituloSemestreNCH {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.semestresInlineNCH {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.semestreNCH {
  margin-top: 40px;
}

#primeiroSemestreNCH {
  margin-top: 0px;
}

#segundoSemestreNCH {
  margin-top: 0px;
  margin-left: 70px;
}

.campoTeoricasPraticas {
  display: flex;
}

.camposTabelaNCH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#camposTabelaPraticaNCH {
  margin-left: 20px;
}

.camposTabelaNCH input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: #fff;
  border-radius: 0.375rem;
  outline: none;
  text-align: center;
  margin-top: 10px;
}

#buttonProximo {
  margin-left: 15px;
}

/*Pedagógicas Complementares*/

.buttonSalvarPC {
  margin-top: 17rem;
}

.buttonSalvarPC button {
  width: 200px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 16px;
  cursor: pointer;
}

/*DocentesEnvolvidos*/

.DocenteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 40px;
  height: 700px;
  width: 65vw;
  border-radius: 0.375rem;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}

.Docente {
  margin-top: 80px;
}

.tituloDocente {
  grid-column: 1/-1;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -80px;
}

.tituloSemestreD {
  display: flex;
  justify-content: center;
}

.camposTabelaD {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.camposTabelaD input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: #fff;
  border-radius: 0.375rem;
  outline: none;
  text-align: center;
  margin-left: 30px;
}

.tituloDividiu {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tituloDividiu h1 {
  font-size: 20px;
}

.tituloCheckbox {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.tituloCheckbox div {
  display: flex;
  gap: 20px;
}

.outroDocente {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-left: 60px;
}

.outroDocente input {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: #fff;
  border-radius: 0.375rem;
  outline: none;
  text-align: center;
}

.buttonsD {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-right: 60px;
  padding-bottom: 40px;
  grid-row: 4;
}

.buttonsD button {
  width: 130px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 16px;
}

.buttonsDV {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-left: 60px;
  padding-bottom: 40px;
  grid-row: 4;
}

.buttonsDV button {
  width: 130px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 16px;
  cursor: pointer;
}

/* Ch semanal de aulas*/

.buttonCh {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 150px;
  padding-right: 60px;
  padding-left: 60px;
}

.buttonCh button {
  width: 130px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 0.375rem;
  font-size: 16px;
  cursor: pointer;
}
