.formularioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: slateblue;
  margin-top: 2.5rem;
  padding: 20rem 15rem;
  border-radius: 0.375rem;
}

.titulo {
  color: #fff;
}
