@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@700&family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: url(./pages/imagens/paisagem3.png) no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
